@model CrediBill_Web.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Invoice Details</h1>

<div>
    <h3>Invoice</h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <!-- Affichage des informations du client -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Model.Customer.Name <!-- Affichage du nom du client -->
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Model.Customer.Email <!-- Affichage de l'email du client -->
        </dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>